:root {
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #212121;
    --gray: #757575;
    --black-background: #2F303A;
    --gray-background: #F5F4FA;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: var(--primary-font);
color: var(--black);
}
/*  Container si Section */
.section {
    width: 1600px;
    margin: 0 auto;
    padding: 94px 0;
}
.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

/* Header section style */
.header.section {
    width: 1600px;
    padding: 0;
    border-bottom: 1px solid #ECECEC;
}

.header.container {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header__logo a,
.footer__logo a {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--black);
}

.header__logo a {
    color: var(--black);
}

.header__logo span,
.footer__logo span {
    color: var(--blue);
}

.header__navigation ul {
    list-style: none;
    display: flex;
    width: 275px;
    justify-content: space-between;
    color: var(--black);
}

.header__navigation a {
    color: var(--black);
}

.header__info {
    display: flex;
    width: 275px;
    justify-content: space-between;
}

.header__navigation a,
.header__info a,
.contact__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray);
}

.header__info a {
    color: var(--gray);
}

.header__navigation a:hover,
.header__navigation a:focus,
.header__info a:hover,
.header__info a:focus {
    color: var(--blue);
}

.contact__link:hover .contact__text,
.contact__link:focus .contact__text {
    color: var(--blue);
}

.contact__link:hover svg {
    fill: var(--blue);
}

.big-background {
    position: relative;
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(135deg, var(--black) 0%, var(--blue) 100%);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* Contact text */
.contact__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray);
}

/* Hero section style*/

/* CSS for studio.html */
.hero-section.section {
    width: 1600px;
    background-color: transparent;
    position: relative;
}

.hero-section.container {
    height: 600px;
    position: relative;
}

.hero-section__title {
    font-family: var(--primary-font);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0px;
    opacity: 1;
    position: absolute;
    color: var(--white);
    z-index: 1;
}

.hero-section__service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.hero-section__service:hover,
.hero-section__service:focus {
    transform: scale(1.1);
}

.hero-section img {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    height: 600px;
    object-fit: fill;
    opacity: 1;
    z-index: 0;
}

/* CSS for studio.html */
.hero-section-studio.section {
    width: 1600px;
    background-color: transparent;
    position: relative;
}

/* CSS for webstudio.html */
.hero-section.section {
    width: 1600px;
    background-color: #2F303A;
    position: relative;
}

.hero-section.container {
    height: 600px;
    position: relative;
}

.hero-section__title {
    font-family: var(--primary-font);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0px;
    opacity: 1;
    position: absolute;
    color: var(--white);
    z-index: 1;
}

.hero-section__service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.hero-section__service:hover,
.hero-section__service:focus {
    transform: scale(1.1);
}

.hero-section img {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    height: 600px;
    object-fit: fill;
    opacity: 1;
    z-index: 0;
}

/* What we do section style */
.we-do-section.section {
    background-color: var(--white);
}

.we-do-section__features.container {
    list-style: none;
    justify-content: space-between;
    width: 1170px;
    margin-bottom: 94px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.we-do-section__features h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.we-do-section__features p {
    font-size: 14px;
    line-height: 1.7;
    color: var(--gray);
    letter-spacing: 0.03em;
}

.we-do-section__title {
    font-weight: 700;
    font-size: 36px;
    color: var(--black);
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.we-do-section_images>img,
.team-section__card>img,
.portofoliu__exemplu>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.we-do-section_images.container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.we-do-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: middle;
}

/* New CSS for the SVG icons within list items */
.we-do-section__features li svg {
    width: 70px;
    height: 70px;
    fill: currentColor;
    margin-bottom: 10px;
}

/* Our Team section style with SVG icon styling */
.team-section.section {
    background-color: var(--gray-background);
    height: 648px;
    text-align: center;
}

.team-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-section__cards.container {
    justify-content: center;
    gap: 30px;
    margin: auto;
}

.team-section__card {
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
    opacity: 0px;
    box-shadow: 0px 2px 1px 0px #00000033,
        0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001F;
}

.team-section__card__nume {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-section__card__job {
    font-size: 16px;
    line-height: 1.2;
    color: var(--gray);
    margin-bottom: 30px;
}

/* Styles for SVG icons within the team section card */
.team-section__card svg {
    width: 24px;
    height: 24px;
    fill: #000;
}

.team-section__card svg:hover {
    fill: #007bff;
}

.team-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.team-icons svg {
    fill: #000;
    transition: fill 0.3s ease;
    border-radius: 80%;
}

.team-icons svg:hover {
    background-color: #2196F3;
    /* Change the color to #2196F3 on hover */
    cursor: pointer;
    border-radius: 60%;
}

/* Regular Customers section style */
.regular-customers.section {
    background-color: var(--white);
    padding: 50px 0;
    text-align: center;
}

.regular-customers__title {
    font-weight: 700;
    font-size: 36px;
    color: var(--black);
    margin-bottom: 30px;
}

.regular-customers svg {
    width: 106px;
    height: 60px;
    margin: 20px;
    fill: var(--primary-color);
}

.svg-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid #ccc;
    padding: 10px;
}

.svg-box svg {
    flex: 0 0 calc(33.333% - 20px);/
}

.regular {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.regular svg {
    width: 150px;
    height: 100px;
    border: 3px solid #AFB1B8;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.regular svg:hover use {
    filter: invert(75%) sepia(79%) saturate(2476%) hue-rotate(213deg) brightness(118%) contrast(119%);
}

.regular svg:hover {
    border-color: #2196f3;
    cursor: pointer;
}

.regular svg path {
    background-color: #2196F3;
    transition: fill 0.3s ease;
}

.regular svg:hover path {
    background-color: #2196f3;
}

/* Optional hover effect for SVG icons */
.regular-customers svg:hover {
    opacity: 0.8;
}

/* Footer section style*/
.footer.section {
    padding: 0;
    background-color: var(--black-background);
}

.footer.container {
    height: 251px;
    display: flex;
    justify-content: center;
    margin-left: -234px;
    padding-top: 56px;
}

.footer__logo a {
    color: var(--white);
}

.footer__address {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    font-style: normal;
    margin-top: 28px;
}

.footer__address a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer__address a:hover,
.footer__address a:focus {
    color: var(--blue);
}

.footer svg {
    width: 44px;
    height: 44px;
    margin: 10px;
    fill: var(--white);
}

.footer svg:hover {
    opacity: 0.8;
}

.footer-text {
    color: var(--white);
    width: 87px;
    height: 16px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.footer__contact-info {
    margin-bottom: 20px;
}

.footer__social-icons {
    margin-top: 26px;
    padding-left: 75px;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.icons svg {
    width: 20px;
    height: 20px;
    fill: #000;
    transition: fill 0.3s ease;
    border-radius: 60%;
}

.icons svg:hover {
    background-color: #2196f3;
    cursor: pointer;
}

.icons svg:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(33, 150, 243, 0.5);
}

 /* Style Portfolio */

 .portofoliu.section {
    background-color: var(--white);
    margin: auto;

 }
 
 .portofoliu__navigare__lista.container {
    width: 1170px;
    justify-content: center;
    gap: 8px;
    list-style: none;
    margin-bottom: 50px;
  
 }

 /* Navigation Buttons */

 .portofoliu__navigare button {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.6;
     text-align: center;
     background-color: var(--gray-background);
     cursor: pointer;
     padding: 6px 22px;
     border-radius: 4px 0px 0px 0px;
     transition: box-shadow 0.3s ease;
 }

 .portofoliu__navigare button:hover,
 .portofoliu__navigare button:focus {
     background-color: var(--blue);
     color: var(--white);
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 /* Exemples Portfolio*/

 .portofoliu__exemple.container {
    width: 1170px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto;
 }
.portofoliu__exemplu__nume {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    text-align: left;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.portofoliu__exemplu__tip {
    font-size: 16px;
    line-height: 1.9;
    color: var(--gray);
    letter-spacing: 0.03em;
    text-align: left;
    padding-left: 24px;
    padding-bottom: 20px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portofoliu__exemplu:hover .portofoliu__exemplu__nume,
.portofoliu__exemplu:hover .portofoliu__exemplu__tip {
    color: var(--black);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}